// posted doodles
#doodles {
  display: flex;
  flex-flow: row wrap;

  .doodle {
    height: 40%;
    width: 20%;
    margin: 2.5%;
    padding: 1%;
    border-radius: 3px;
    background-color: #00A5A8;
  }
}
