// button colors
$buttonColor: #00A5A8;
$buttonHighlight: #00D2D6;

// delete button colors
$deleteColor: #F2A72E;
$deleteHighlight: #FFC05B;

// input border radius
$borderRadius: 4px;

// font size
$fontSize: 1.5vw;

// margin and padding
$marginPadding: 1vw;

// log in/sign up/change password forms
.form-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 50%;

    // inputs
    .input-container {
      width: 100%;
      text-align: right;
      font-size: $fontSize;
      margin-bottom: $marginPadding;

      input {
        width: 60%;
        margin-left: $marginPadding;
        padding: $marginPadding;
        border: none;
        border-radius: $borderRadius;
      }
    }

    // submit button
    .submit-container {
      width: 100%;
      text-align: left;
      margin-top: $marginPadding;
      font-size: $fontSize;

      input {
        margin-left: 40%;
        padding: $marginPadding;
        border: none;
        border-radius: $borderRadius;
        background-color: $buttonColor;
      }
      input:hover {
        color: white;
        background-color: $buttonHighlight;
      }
    }

    // button to switch between log in and sign up forms
    .form-switch {
      width: 100%;
      margin-top: $marginPadding;
      text-align: center;
      font-size: $fontSize;

      button {
        margin-left: $marginPadding;
        padding: $marginPadding;
        border: none;
        border-radius: $borderRadius;
        background-color: $buttonColor;
      }
      button:hover {
        color: white;
        background-color: $buttonHighlight;
      }
    }
  }
}

// post doodle form
#post-doodle {
  text-align: center;

  input {
    padding: $marginPadding;
    border: none;
    border-radius: $borderRadius;
    background-color: $buttonColor;
  }
  input:hover {
    color: white;
    background-color: $buttonHighlight;
  }
}

// delete doodle form
#delete-doodle {
  width: 100%;
  margin-bottom: $marginPadding;

  input {
    width: 100%;
    padding: $marginPadding;
    border: none;
    border-radius: $borderRadius;
    background-color: $deleteColor;
  }
  input:hover {
    color: white;
    background-color: $deleteHighlight;
  }
}
