#user-menu {
  border: none;
  color: black;
  background-color: #00A5A8;
  outline: none;
  margin-right: 5vh;
}
#user-menu:hover {
  color: white;
}

.dropdown-menu {
  margin-right: 5vh;
}
.dropdown-item {
  margin: 0;
}

/* MASTHEAD */
/* Masthead Container */
#masthead {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00A5A8;
}
/* Masthead Title */
#title {
  color: white;
  margin-left: 5vh;
  font-size: 6vh;
}


/* Log In/Sign Up Button */
nav a {
  font-size: 2.5vh;
  color: #002323;
  text-decoration: none;
  margin-right: 5vh;
}
nav a:hover {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
