<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Doodle Drop</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <!-- Bootstrap Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>

    <!-- React -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper.js (Required by Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Masthead -->
    <div id="masthead">
        <!-- Title -->
        <h1 id="title">Doodle Drop</h1>

        <nav>
            <!-- Account Button -->
            <a href="/user">Account</a>
            <!-- Log Out Button -->
            <a href="/logout">Log Out</a>
        </nav>
    </div>

    <form id="doodleForm"
          action="/change-password"
          method="POST"
          onsubmit="handleNewPassword"
    >
        <label for="newPassword">New Password: </label>
        <input name="newPassword" type="password" id="new-password"/>

        <label for="newPassword2">Retype New Password: </label>
        <input name="newPassword2" type="password" id="new-password2"/>

        <input type="submit" value="Change Password"/>
    </form>

    <script>
        const handleNewPassword = (e) => {
            e.preventDefault();

            if ($("#new-password").val() == '' || $("#new-password2").val() == '') {
                console.log("all fields are required");
                return false;
            }

            // send AJAX over jQuery function
            $.ajax({
                cache: false,
                type: 'POST',
                url: $("#doodleForm").attr("action"),
                data: $("#doodleForm").serialize(),
                dataType: "json",
                success: window.location = '/user',
            });
        };
    </script>
</body>

</html>
