<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Doodle Drop</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <!-- Bootstrap Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>

    <!-- React -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper.js (Required by Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Masthead -->
<div id="masthead">
    <!-- Title -->
    <h1 id="title">Doodle Drop</h1>

    <nav>
        <!-- Account Button -->
        <a href="/user">Account</a>
        <!-- Change Password Button -->
        <a href="change-password">Change Password</a>
        <!-- Log Out Button -->
        <a href="/logout">Log Out</a>
    </nav>
</div>

    <section id="content"></section>

    <script src="/assets/bundle.js"></script>
</body>

</html>
